@import "~@ng-select/ng-select/themes/default.theme.css";


.bold-text {
    font-weight: 600;
}

.no-border {
    border: 0;
}

.primary-icon {
    color: #007bff;
}

.primary-icon:hover {
    color: #115196;
}

.danger-icon {
    color: #dc3545;
}

.danger-icon:hover {
    color: #9f2430;
}

.light-text {
    color: rgb(131, 131, 131);
}