<ngb-toast *ngFor="let toast of toastService.toasts"
           class="{{toast.classname}} pt-2 pr-2"
           [autohide]="true"
           [delay]="toast.delay || 5000"
           (hide)="toastService.remove(toast)">
  <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
    <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
  </ng-template>

  <ng-template #text>
    <div class="btn-group text-center d-flex justify-content-between align-items-center">
      <span class="pl-1 pr-2">{{ toast.textOrTpl }}</span>
      <button type="button" class="close fa-solid fa-xmark" aria-label="Close" (click)="toastService.remove(toast)">
      </button>
    </div>
  </ng-template>
</ngb-toast>
