<ng-template #rt let-r="result" let-t="term">
  <div *ngIf="!isCreateMissingDropdownItem(r)" (click)="openAddModal(r)">
    <ngb-highlight result="{{r.name}} ({{r.categoryName}})" [term]="t"></ngb-highlight>
  </div>
  <div *ngIf="isCreateMissingDropdownItem(r)" (click)="openCreateIngredientModal()">
    <button class="btn btn-outline-secondary">{{r.name}}</button>
  </div>
</ng-template>

<div class="input-group">
  <input class="form-control" placeholder="Search Ingredients" type="text" maxlength="100" [(ngModel)]="searchText" [ngbTypeahead]="doSearch" [resultTemplate]="rt" [inputFormatter]="quickAdd" />
</div>
<small *ngIf="isSearching" class="form-text text-muted">searching...</small>
