<div class="d-flex align-items-center" *ngIf="isLoading">
  <strong>Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<div class="input-group pb-4" *ngIf="isFilterVisible">
  <input class="form-control" placeholder="Filter Ingredients" type="text" maxlength="100" [(ngModel)]="filterText" (ngModelChange)="doFilter()"/>
</div>
<div class="list-group mr-3">
  <div class="d-flex justify-content-between align-items-end">
    <h4>Pantry Ingredients</h4>

    <div class="btn-group me-3 pb-2">
      <button type="button" class="btn btn-outline-success fa-solid" style="height: fit-content" [ngClass]="{'fa-arrow-up-a-z': selectedSortOrder == 1, 'fa-arrow-down-a-z': selectedSortOrder == -1}" (click)="toggleSortOrder()"></button>
      <div ngbDropdown class="d-inline-block btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" id="dropdownSort" ngbDropdownToggle>Sort By: {{selectedSort}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownSort">
          <button ngbDropdownItem (click)="sortBy('name')">Name</button>
          <button ngbDropdownItem (click)="sortBy('category')">Category</button>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group-item list-group-item-action flex-column align-items-start"
     *ngFor="let row of filteredIngredients; let index=index"
     (click)="setSelected(index, $event)">
    <div class="d-flex w-100 justify-content-between" [ngClass]="{'bold-text': hoveredIndex==index}">
      <div (click)="unselect(index, $event)">{{row.ingredient.name}}</div>
      <div class="d-flex justify-content-end">
        <button *ngIf="hoveredIndex==index" class="btn primary-icon no-border btn-sm fa-solid fa-lg fa-circle-minus pl-0 pr-0 mr-1" (click)="quickEditQty(row, -1)"></button>
        <small class="text-muted" [ngClass]="{'bold-text': hoveredIndex==index}">Qty: {{row.quantity}}</small>
        <button *ngIf="hoveredIndex==index" class="btn primary-icon no-border btn-sm fa-solid fa-lg fa-circle-plus pl-0 pr-0 ml-1" (click)="quickEditQty(row, 1)"></button>
      </div>
    </div>
    <div *ngIf="hoveredIndex==index" class="pt-2">
      <p *ngIf="!isEditing">{{row.note}}</p>

      <div *ngIf="isEditing" class="form-group">
        <textarea class="form-control" id="notesTextarea" rows="3" [(ngModel)]="row.note" placeholder="Notes"></textarea>
      </div>

      <div class="d-flex justify-content-end">
        <div role="button" *ngIf="!isEditing" class="btn btn-outline-primary fa-solid fa-cart-arrow-down mr-2" (click)="addToGroceryList(row, $event)" disabled="true"></div>
        <div role="button" *ngIf="!isEditing" class="btn btn-outline-primary fa-solid fa-pencil mr-2" (click)="editIngredient(row, $event)"></div>
        <div role="button" *ngIf="!isEditing" class="btn btn-outline-danger fa-regular fa-trash-can danger-icon" (click)="removeFromKitchen(row, index, $event)"></div>
        <div role="button" *ngIf="isEditing" class="btn btn-link btn-sm" (click)="saveEdit(row)">Save</div>
        <div role="button" *ngIf="isEditing" class="btn btn-link btn-sm" (click)="cancelEdit(row, $event)">Cancel</div>
      </div>
    </div>
  </div>
</div>
