<div class="list-group mr-3">


    <div class="d-flex justify-content-between align-items-end">
        <h4>{{this.selectedName}}</h4>
        
        <div class="d-flex">
            <button class="btn btn-outline-primary fa-solid fa-cart-plus fa-lg mr-4 mb-2" (click)="confirmAddToPantry()" style="width: fit-content;" ngbTooltip="Add Checked Items to Pantry"></button>

            <button class="btn btn-outline-primary fa-solid fa-arrows-rotate fa-lg mr-2 mb-2" (click)="refreshList()" style="width: fit-content;" ngbTooltip="Refresh List"></button>

            <div class="btn-group me-3 pb-2" style="height: fit-content">
                <button type="button" class="btn btn-outline-success fa-solid fa-lg"
                    [ngClass]="{'fa-arrow-up-a-z': selectedSortOrder == 1, 'fa-arrow-down-a-z': selectedSortOrder == -1}" (click)="toggleSortOrder()"></button>
                <div ngbDropdown class="d-inline-block btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary" id="dropdownSort" ngbDropdownToggle>Sort By:
                        {{selectedSort === "name" ? "Name" : "Category"}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownSort">
                        <button ngbDropdownItem (click)="sortBy('name')">Name</button>
                        <button ngbDropdownItem (click)="sortBy('category')">Category</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pantry-search-ingredients class="pb-3" [addMode]="'GroceryList'" [activeList]="selected"></pantry-search-ingredients>

    <div *ngIf="allIngredients?.length === 0" class="d-flex justify-content-center pt-2 align-items-center">
        <i class="fa-xl fa-solid fa-beer-mug-empty pr-2" style="color: #9f794b;"></i>
        <span>It seems {{selectedName}} is empty ... Here's a beer.</span>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start"
        *ngFor="let row of filteredList; let index=index" (click)="setSelected(index, $event)">

        <div class="d-flex justify-content-between align-items-center" [ngClass]="{'bold-text': hoveredIndex==index}">
            <input type="checkbox" [ngModel]="row.isChecked" (change)="toggleChecked(row)">
            <div class="d-flex justify-content-between align-items-start col-12">
                <div (click)="unselect(index, $event)">{{row.ingredient.name}}</div>
                <div class="d-flex justify-content-end">
                    <button *ngIf="hoveredIndex == index"
                        class="btn primary-icon no-border btn-sm fa-solid fa-circle-minus fa-lg pl-0 pr-0 mr-1"
                        (click)="quickEditQty(row, -1)"></button>
                    <small class="text-muted pr-0" [ngClass]="{'bold-text': hoveredIndex==index}" style="white-space: nowrap;">Qty: {{row.quantity}}</small>
                    <button *ngIf="hoveredIndex == index"
                        class="btn primary-icon no-border btn-sm fa-solid fa-circle-plus fa-lg pl-0 pr-0 ml-1 mr-2"
                        (click)="quickEditQty(row, 1)"></button>
                </div>
            </div>
        </div>
        <div class="d-flect justify-content-center ml-4" *ngIf="hoveredIndex != index">
            <span class="light-text">{{row.note}}</span>
        </div>
        <div *ngIf="hoveredIndex == index" class="pt-2">
            <span *ngIf="!isEditing" class="ml-4">{{row.note}}</span>

            <div *ngIf="isEditing" class="form-group ml-4">
              <textarea class="form-control" id="notesTextarea" rows="1" [(ngModel)]="row.note" placeholder="Notes"></textarea>
            </div>

            <div class="form-group pt-1 ml-4 mb-2">
                <ng-select [items]="categories"
                           bindLabel="name"
                           bindValue="categoryId"
                           placeholder="Select Category"
                           [disabled]="!isEditing"
                           [(ngModel)]="row.categoryId">
                </ng-select>
            </div>
      
            
            <div class="d-flex justify-content-end">
                <div role="button" *ngIf="!isEditing" class="btn btn-outline-primary fa-solid fa-pencil mr-2" (click)="editIngredient(row, $event)"></div>
                <div role="button" *ngIf="!isEditing" class="btn btn-outline-danger fa-regular fa-trash-can danger-icon" (click)="removeFromList(row, index)"></div>
                <div role="button" *ngIf="isEditing" class="btn btn-link btn-sm" (click)="saveEdit(row)">Save</div>
                <div role="button" *ngIf="isEditing" class="btn btn-link btn-sm" (click)="cancelEdit(row, $event)">Cancel</div>
            </div>
        </div>

    </div>
</div>