<div class="modal-header">
  <h4 class="modal-title">Create Ingredient</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Enter the name of the ingredient and set the category.</p>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" [(ngModel)]="name" />
  </div>
  <div class="form-group">
    <label>Category</label>
    <ng-select [items]="categories"
               bindLabel="name"
               bindValue="categoryId"
               [(ngModel)]="selectedCategoryId">
    </ng-select>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="publicCheck" [(ngModel)]="isPublic">
    <label class="form-check-label" for="publicCheck" placement="top" ngbTooltip="Allow other users to search this ingredient and add it to their pantry.">Is Public</label>
  </div>

  <br />

  <div *ngIf="addMode == 'Pantry'" class="form-check">
    <input type="checkbox" class="form-check-input" id="addCheck" [(ngModel)]="isAddToPantry">
    <label class="form-check-label" for="addCheck" placement="top" ngbTooltip="Additionally add this ingredient to your pantry.">Add to Pantry</label>
  </div>
  <div *ngIf="addMode == 'GroceryList'" class="form-check">
    <input type="checkbox" class="form-check-input" id="addCheck" [(ngModel)]="isAddToPantry">
    <label class="form-check-label" for="addCheck" placement="top" ngbTooltip="Additionally add this ingredient to the list.">Add to List</label>
  </div>

  <div class="text-sm-left font-italic text-secondary" *ngIf="isAddToPantry"> The info below is for your pantry; This will not be made public.</div>

  <br />
  <div class="form-group" *ngIf="isAddToPantry">
    <label for="quantityInput">Quantity</label>
    <input type="number" class="form-control" id="quantityInput" [(ngModel)]="quantity">
  </div>
  <div class="form-group" *ngIf="isAddToPantry && addMode === 'Pantry'">
    <label for="notesTextarea">Notes</label>
    <textarea class="form-control" id="notesTextarea" rows="3" [(ngModel)]="notes"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="confirmAdd()" [ngClass]="isAdding ? 'disabled' : ''">Confirm</button>
  <button type="button" class="btn btn-light" (click)="close()">Cancel</button>
</div>
